DISCORD_TOKEN=put_token_here
GUILD_ID=put_guild_id_here
PANEL_CHANNEL_ID=1500437958375903232
OFFICER_CHANNEL_ID=1500438001514184714
VACATION_ROLE_ID=1498022112131289214
DATABASE_PATH=./data/vacations.db
BRAND_NAME=XIII
MAX_VACATION_DAYS=30
LOG_LEVEL=info
